
<div class="Photo-love-counter jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 cl-xs-12 tab-30 stab-30">
                <div class="single-counter">
                    <i class="flaticon-photo-camera"></i>
                    <p>Shoots Captures</p>
                    <span class="counter">5022</span>
                </div>
            </div>
            <!-- single counter -->
            <div class="col-md-3 col-sm-6 cl-xs-12 tab-30 stab-30">
                <div class="single-counter">
                    <i class="flaticon-video-camera"></i>
                    <p>Video Project</p>
                    <span class="counter">3566</span>
                </div>
            </div>
            <!-- single counter -->
            <div class="col-md-3 col-sm-6 cl-xs-12 stab-30">
                <div class="single-counter">
                    <i class="flaticon-like"></i>
                    <p>Happy People</p>
                    <span class="counter">4500</span>
                </div>
            </div>
            <!-- single counter -->
            <div class="col-md-3 col-sm-6 cl-xs-12">
                <div class="single-counter">
                    <i class="flaticon-picture"></i>
                    <p>Photos Albums</p>
                    <span class="counter">4500</span>
                </div>
            </div>
            <!-- single counter -->
        </div>
    </div>
</div>
