<footer class="section-pading-2 footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 tab-30 stab-30 wow fadeIn">
                    <div class="single-footer-widget">
                        <div class="footer-logo mtb-30">
                            <h3 class="footer-title mtb-30">photo love</h3>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus ducimus odit quos.</p>
                        </div>
                        <div class="footer-social-icon">
                            <ul>
                                <li><a href="{{site.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="{{site.youtube_url}}"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="{{site.dribbble_url}}"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-6 col-xs-12 tab-30 stab-30 wow fadeIn">
                    <div class="single-footer-widget">
                        <h3 class="footer-title mtb-30">Contact Info</h3>
                        <div class="recent-links">
                            <ul>
                                <li><a href="#"> What We Do?</a></li>
                                <li><a href="#"> Web Design and Development</a></li>
                                <li><a href="#"> Our Latest Work</a></li>
                                <li><a href="#"> What's Goging On</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-6 col-xs-12 stab-30 wow fadeIn">
                    <div class="single-footer-widget">
                        <h3 class="footer-title mtb-30">Contact Us</h3>
                        <address>
                    74 West Main Street, Oyster Bay, <br>
                    New York 11771<br>
                    <abbr title="Phone">P:</abbr> 516-124-4567-55 <br>
                    <abbr title="Phone">P:</abbr> 123-456-7689-88 <br>
                    <a href="mailto:#">rubel2585@gmail.com</a>
                    </address>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn">
                    <div class="single-footer-widget">
                        <h3 class="footer-title mtb-30">Our Gallery</h3>
                        <div class="minigallery">
                            <ul>
                                <li>
                                    <a href="#"><img src="{{site.baseurl}}/assets/images/mini-gallery/1.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{site.baseurl}}/assets/images/mini-gallery/2.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{site.baseurl}}/assets/images/mini-gallery/3.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{site.baseurl}}/assets/images/mini-gallery/4.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{site.baseurl}}/assets/images/mini-gallery/5.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{site.baseurl}}/assets/images/mini-gallery/6.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
            </div>
        </div>
        <!-- end footer top -->
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copy-right-text">
                        <p>&copy; 2019 All Right Reserved | Rubel</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="footer-menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>