<div class="photolove-gallery-area-2">
    <div class="gallery-active owl-carousel">

        {% for gal in site.data.galary %}
            <div class="single-gallery">
                <img src="assets/images/gal/{{ gal.file_name }}" alt="">
                <div class="gal-overlay">
                    <a class="img-poppu" href="assets/images/gal/{{ gal.file_name }}">
                        <i class="flaticon-add"></i>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
