<header class=" {% if page.layout == 'default' %} top-transparent-nav {% else %} top-transparent-nav-2 bg_dark {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="logo">
                    <a href="{{site.url}}">
                        <img src="{{site.logo}}" alt="{{site.title}}">
                    </a>
                </div>
            </div>
            <!-- end logo -->
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="{% if page.layout == 'post' %}active{% endif %}"> <a class="smooth-scroll" href="{% if page.layout == 'default' %}#home {% else %} {{site.url}}/#home {% endif %}">HOME</a></li>
                            <li> <a class="smooth-scroll" href="{% if page.layout == 'default' %}#abt {% else %} {{site.url}}/#abt {% endif %}">ABOUT</a></li>
                            <li class="{% if page.name == 'templates.html' %}active{% endif %}"> <a class="smooth-scroll" href="{{site.url}}/templates.html">TEMPLATES</a></li>
                            <li> <a class="smooth-scroll" href="{% if page.layout == 'default' %}#price {% else %} {{site.url}}/#price {% endif %}">packages</a></li>
                            <!-- <li> <a class="smooth-scroll" href="{% if page.layout == 'default' %}#blg {% else %} {{site.url}}/#blg {% endif %}">blog</a></li> -->
                            <li> <a class="smooth-scroll" href="{% if page.layout == 'default' %}#tem {% else %} {{site.url}}/#tem {% endif %}">TEAM</a></li>
                            <li> <a class="smooth-scroll" href="{% if page.layout == 'default' %}#con {% else %} {{site.url}}/#con {% endif %}">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end main menu -->
        </div>
    </div>
</header>
