<!-- Packages Section -->
<section id="packages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Packages</h2>
                <h3 class="section-subheading text-muted">We offer many packages that will fit you and your event perfectly! Additional hours for all packages is $100/hour</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/packages/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>SILVER</h4>
                                <h4 class="subheading">$300 for 3 hours</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Includes:
                                    <ul class="item-details packages-list">
                                        <li>On-site attendant that will come to your event to set up, run and disassemble the photo booth.</li>
                                        <li>Unlimited 2x6 prints (printed on-site)</li>
                                        <li>Link to the digital copy of the photos</li>
                                        <li>Basic curtain backdrop</li>
                                        <li>Basic paper props</li>
                                        <li>A basic photo template (one color, name of event and date)</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/packages/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>GOLD</h4>
                                <h4 class="subheading">$350 for 3 hours</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Includes:
                                    <ul class="item-details packages-list">
                                        <li>On-site attendant that will come to your event to set up, run and disassemble the photo booth.</li>
                                        <li>Unlimited 2x6 prints (printed on-site)</li>
                                        <li>Link to the digital copy of the photos</li>
                                        <li>Basic curtain backdrop</li>
                                        <li>Basic paper props</li>
                                        <li><b>A personalized photo template (Build and customize the template to your satisfaction)</b></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/packages/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>PLATINUM</h4>
                                <h4 class="subheading">$400 for 3 hours</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Includes:
                                    <ul class="item-details packages-list">
                                        <li>On-site attendant that will come to your event to set up, run and disassemble the photo booth.</li>
                                        <li>Unlimited 2x6 prints (printed on-site)</li>
                                        <li>Link to the digital copy of the photos</li>
                                        <li><b>Access to all of our available props</b></li>
                                        <li><b>Curtain backdrop with floral decors</b></li>
                                        <li><b>A personalized photo template (Build and customize the template to your satisfaction)</b></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/packages/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>EMERALD</h4>
                                <h4 class="subheading">$450 for 3 hours</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Includes:
                                    <ul class="item-details packages-list">
                                        <li>On-site attendant that will come to your event to set up, run and disassemble the photo booth.</li>
                                        <li>Unlimited 2x6 <b><u>or 4x6 prints</u></b> (printed on-site)</li>
                                        <li>Link to the digital copy of the photos</li>
                                        <li><b>Access to all of our available props</b></li>
                                        <li><b>Curtain backdrop with floral decors</b></li>
                                        <li><b>A personalized photo template (Build and customize the template to your satisfaction)</b></li>
                                        <li><b>A customized scrapbook for you and your guests to post and write in. </b></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Custom
                                <br>Package
                                <br>Available!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
