
<div class="photo-love-pricing-table section-pading" id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="section-heading">POPULAR PACKAGES</h2>
                </div>
            </div>
            <!-- end section title -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 tab-30 stab-30">
                <div class="single-pricetable">
                    <div class="price-header">
                        <h3>SILVER PACKAGE</h3>
                        <div class="price-circle">
                            <span class="price-amount">$500</span>
                        </div>
                    </div>
                    <!-- end price header -->
                    <div class="price-body">
                        <ul>
                            <li><i class="fa fa-bell"></i>3 Hours</li>
                            <li><i class="fa fa-male"></i>On-site attendant</li>
                            <li><i class="fa fa-print"></i>Unlimited 2x6 prints</li>
                            <li><i class="fa fa-save"></i>Digital copy of the photos</li>
                            <li><i class="fa fa-bookmark"></i>Basic curtain backdrop</li>
                            <li><i class="fa fa-paper-plane"></i>Basic paper props</li>
                            <li><i class="fa fa-image"></i>A basic photo template</li>
                        </ul>
                    </div>
                    <!-- end price-body -->
                    <div class="price-footer">
                        <a href="{{site.url}}/packages.html" class="btn-mr-gra xs">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- single-price table -->
            <div class="col-md-4 col-sm-6 col-xs-12 tab-30 stab-30">
                <div class="single-pricetable active">
                    <div class="price-header bg2">
                        <h3>GOLD PACKAGE</h3>
                        <div class="price-circle">
                            <span class="price-amount">$550</span>
                        </div>
                    </div>
                    <!-- end price header -->
                    <div class="price-body">
                        <ul>
                            <li><i class="fa fa-bell"></i>3 Hours</li>
                            <li><i class="fa fa-male"></i>On-site attendant</li>
                            <li><i class="fa fa-print"></i>Unlimited 2x6 prints</li>
                            <li><i class="fa fa-save"></i>Digital copy of the photos</li>
                            <li><i class="fa fa-bookmark"></i>Basic curtain backdrop</li>
                            <li><i class="fa fa-paper-plane"></i>Basic paper props</li>
                            <li><i class="fa fa-image"></i><b>A personalized photo template</b></li>
                        </ul>
                    </div>
                    <!-- end price-body -->
                    <div class="price-footer">
                        <a href="{{site.url}}/packages.html" class="btn-mr-gra xs">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- single-price table -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-pricetable">
                    <div class="price-header bg3">
                        <h3>PLATINUM PACKAGE</h3>
                        <div class="price-circle">
                            <span class="price-amount">$600</span>
                        </div>
                    </div>
                    <!-- end price header -->
                    <div class="price-body">
                        <ul>
                            <li><i class="fa fa-bell"></i>3 Hours</li>
                            <li><i class="fa fa-male"></i>On-site attendant</li>
                            <li><i class="fa fa-print"></i>Unlimited 2x6 prints</li>
                            <li><i class="fa fa-save"></i>Digital copy of the photos</li>
                            <li><i class="fa fa-bookmark"></i><b>Curtain with floral decors</b></li>
                            <li><i class="fa fa-paper-plane"></i><b>Access to all of our available props</b></li>
                            <li><i class="fa fa-image"></i><b>A personalized photo template</b></li>
                        </ul>
                    </div>
                    <!-- end price-body -->
                    <div class="price-footer">
                        <a href="{{site.url}}/packages.html" class="btn-mr-gra xs">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- single-price table -->
        </div>
        <!-- end row -->
    </div>
</div>
