
<div class="photo-love-pricing-table section-pading" id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="section-heading">price table</h2>
                </div>
            </div>
            <!-- end section title -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 tab-30 stab-30">
                <div class="single-pricetable">
                    <div class="price-header">
                        <h3>BASIC PACKAGE</h3>
                        <div class="price-circle">
                            <span class="price-amount">30$</span>
                        </div>
                    </div>
                    <!-- end price header -->
                    <div class="price-body">
                        <ul>
                            <li><i class="fa fa-cogs"></i> Unlimited Products</li>
                            <li><i class="fa fa-camera"></i>Mobile cradle & store</li>
                            <li><i class="fa fa-file-image-o"></i>Mega Space</li>
                            <li><i class="fa fa-eye"></i> Multiple Color</li>
                            <li><i class="fa fa-file-image-o"></i>24/7 Customer Support</li>
                        </ul>
                    </div>
                    <!-- end price-body -->
                    <div class="price-footer">
                        <a href="#" class="btn-mr-gra xs">Signup</a>
                    </div>
                </div>
            </div>
            <!-- single-price table -->
            <div class="col-md-4 col-sm-6 col-xs-12 tab-30 stab-30">
                <div class="single-pricetable active">
                    <div class="price-header bg2">
                        <h3>ADVANCE PACKAGE</h3>
                        <div class="price-circle">
                            <span class="price-amount">30$</span>
                        </div>
                    </div>
                    <!-- end price header -->
                    <div class="price-body">
                        <ul>
                            <li><i class="fa fa-cogs"></i> Unlimited Products</li>
                            <li><i class="fa fa-camera"></i>Mobile cradle & store</li>
                            <li><i class="fa fa-file-image-o"></i>Mega Space</li>
                            <li><i class="fa fa-eye"></i> Multiple Color</li>
                            <li><i class="fa fa-file-image-o"></i>24/7 Customer Support</li>
                        </ul>
                    </div>
                    <!-- end price-body -->
                    <div class="price-footer">
                        <a href="#" class="btn-mr-gra xs">Signup</a>
                    </div>
                </div>
            </div>
            <!-- single-price table -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-pricetable">
                    <div class="price-header bg3">
                        <h3>STANDER PACKAGE</h3>
                        <div class="price-circle">
                            <span class="price-amount">30$</span>
                        </div>
                    </div>
                    <!-- end price header -->
                    <div class="price-body">
                        <ul>
                            <li><i class="fa fa-cogs"></i> Unlimited Products</li>
                            <li><i class="fa fa-camera"></i>Mobile cradle & store</li>
                            <li><i class="fa fa-file-image-o"></i>Mega Space</li>
                            <li><i class="fa fa-eye"></i> Multiple Color</li>
                            <li><i class="fa fa-file-image-o"></i>24/7 Customer Support</li>
                        </ul>
                    </div>
                    <!-- end price-body -->
                    <div class="price-footer">
                        <a href="#" class="btn-mr-gra xs">Signup</a>
                    </div>
                </div>
            </div>
            <!-- single-price table -->
        </div>
        <!-- end row -->
    </div>
</div>
