
<div class="photo-love-about section-pading" id="abt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <p>MN Booth is a budget-friendly photo booth provider servicing Minneapolis and surrounding cities. We strive to provide our clients and their guests with the best photo booth experience. Here are some of our key features:</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="service-acitve owl-carousel">
                <div class="col-md-4">
                    <img src="{{site.baseurl}}/assets/images/abou-carosel/c1.jpg" alt="">
                    <div class="services-caption">
                        <h3>On-site attendant</h3>
                    </div>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <img src="{{site.baseurl}}/assets/images/abou-carosel/c2.jpg" alt="">
                    <div class="services-caption">
                        <h3>Unlimited Prints</h3>
                    </div>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <img src="{{site.baseurl}}/assets/images/abou-carosel/c3.jpg" alt="">
                    <div class="services-caption">
                        <h3>Free Digital Copies</h3>
                    </div>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <img src="{{site.baseurl}}/assets/images/abou-carosel/c2.jpg" alt="">
                    <div class="services-caption">
                        <h3>Personalize Template</h3>
                    </div>
                </div>
<!--                 <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c1.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c3.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div> -->

            </div>
        </div>
        <!-- end row -->
        <div class="mutual-spacer"></div>
        <!-- end mutal spacer -->
    </div>
</div>
