
<div class="photo-love-about section-pading" id="abt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="section-heading">Our Specialties</h2>
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="service-acitve owl-carousel">
                <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c1.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c2.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c3.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c2.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c1.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div>
                <!-- end single services -->
                <div class="col-md-4">
                    <a class="single-services" href="#">
                        <img src="{{site.baseurl}}/assets/images/abou-carosel/c3.jpg" alt="">
                        <div class="services-caption">
                            <h3>Fashion Photography</h3>
                        </div>
                    </a>
                </div>
                <!-- end single services -->

            </div>
        </div>
        <!-- end row -->
        <div class="mutual-spacer"></div>
        <!-- end mutal spacer -->
    </div>
</div>
