
<div class="photolove-slider-area" id="home">
    <div class="slider-active owl-carousel">
        <div class="single-slide jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{site.baseurl}}/assets/images/slider/slide1.jpg);">
            <div class="banner-table">
                <div class="banner-tbl-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="banner-content">
                                    <!-- <h3>An affordable event photo booth provider serving Minneapolis and surrounding cities.</h3> -->
                                    <h2 class="section-bar">Affordable</h2>
                                    <p>An affordable event photo booth provider serving Minneapolis and surrounding cities.</p>
                                    <a href="#!" class="btn-mr-gra waves-effect waves-light">Read More</a>
                                </div>
                                <!-- end banner content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end single slide -->
        <div class="single-slide jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{site.baseurl}}/assets/images/slider/slide2.jpg);">
            <div class="banner-table">
                <div class="banner-tbl-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="banner-content">
                                    <h3>Hello, We Are Profesional</h3>
                                    <h2 class="section-bar">PHOTOGRAPHER</h2>
                                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla porttitor accumsan tincidunt. </p>
                                    <a href="#!" class="btn-mr-gra waves-effect waves-light">Read More</a>
                                </div>
                                <!-- end banner content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end single slide -->
<!--         <div class="single-slide jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{site.baseurl}}/assets/images/slider/slide3.jpg);">
            <div class="banner-table">
                <div class="banner-tbl-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="banner-content">
                                    <h3>Hello, We Are Profesional</h3>
                                    <h2 class="section-bar">PHOTOGRAPHER</h2>
                                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla porttitor accumsan tincidunt. </p>
                                    <a href="#!" class="btn-mr-gra waves-effect waves-light">Read More</a>
                                </div>
                                <!-- end banner content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- end single slide -->
    </div>
</div>
