
<div class="photo-love-team section-pading" id="tem">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="section-heading">Team</h2>
                    <!-- <p>Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula.</p> -->
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="team-active owl-carousel">
                <div class="col-md-4">
                    <div class="single-phopto-team text-center">
                        <div class="tem-thumb ">
                            <img src="{{site.baseurl}}/assets/images/team/m.jpg" alt="" class="img-circle">
                        </div>
                        <div class="team-text">
                            <h3>Meng Vang</h3>
                            <span class="deginnation">Co-Founder/CEO</span>
                            <p>Meng is a long-distance runner with a personal best full marathon time of 4 hours and 34 minutes. Meng is also Founder and CEO of <a href="https://www.facebook.com/MengvPhotography/" target="_blank">Mengv Photography</a>.</p>
                        </div>
                        <div class="team-sociual">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/meng.vang.1238"><i class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a href="https://www.instagram.com/meng_hiluss_vang"><i class="fa fa-instagram"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single team -->
                <div class="col-md-4">
                    <div class="single-phopto-team text-center">
                        <div class="tem-thumb ">
                            <img src="{{site.baseurl}}/assets/images/team/p.jpg" alt="" class="img-circle">
                        </div>
                        <div class="team-text">
                            <h3>Phia Vang</h3>
                            <span class="deginnation">Co-Founder/CTO</span>
                            <p>Phia is a Software Engineer at one of the best company in Minnesota. Phia enjoys daydreaming about what he'll do if he won the Powerball.</p>
                        </div>
                        <div class="team-sociual">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/phianvang"><i class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a href="https://www.linkedin.com/in/phiavang"><i class="fa fa-linkedin"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single team -->
                <div class="col-md-4">
                    <div class="single-phopto-team text-center">
                        <div class="tem-thumb ">
                            <img src="{{site.baseurl}}/assets/images/team/n.jpg" alt="" class="img-circle">
                        </div>
                        <div class="team-text">
                            <h3>Nou Vang</h3>
                            <span class="deginnation">Co-Founder/CFO</span>
                            <p>Nou enjoys traveling and all things romantic. If Nou ever finds a Genie and had three wishes, it'd be to meet BTS, cure cancer, and free the Genie.</p>
                        </div>
                        <div class="team-sociual">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/hnubkhaab"><i class="fa fa-facebook"></i></a></li>
                         <!--        <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a> </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single team -->
               <!--  <div class="col-md-4">
                    <div class="single-phopto-team text-center">
                        <div class="tem-thumb ">
                            <img src="{{site.baseurl}}/assets/images/team/t1.jpg" alt="" class="img-circle">
                        </div>
                        <div class="team-text">
                            <h3>Priya Akter </h3>
                            <span class="deginnation">Professional Photographer</span>
                            <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                        </div>
                        <div class="team-sociual">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <!-- end single team -->
            </div>
        </div>
        <!-- end row -->
        <div class="mutual-spacer"></div>
        <!-- end mutaula spacer -->
    </div>
</div>
