    <!--
    ========================================
    PHOTO TESTIMONIALS AREA START
    ========================================
      -->
      <div class="photo-love-testimonials section-pading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center extra">
                            <h2 class="section-heading white-text">TESTIMONIAL</h2>
                        </div>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row">
                    <div class="testimonials-active owl-carousel">
                        <div class="col-md-12">
                            <div class="single-testimonials">
                                <img src="assets/images/testi/t3.jpg" class="img-circle" alt="">
                                <i class="flaticon-quote-left"></i>
                                <p>We loved MN booth at our wedding. Meng was super responsive to all my template change request and was always letting me know of his next steps! All the guest loved the printouts and our guestbook was super cute! 💕 THANKS MN BOOTH!</p>
                                <h4>Kelly K Vang</h4>
                                <h5>Wedding Event</h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-testimonials">
                                <img src="assets/images/testi/t1.jpg" class="img-circle" alt="">
                                <i class="flaticon-quote-left"></i>
                                <p>Had MN Booth for my aunt and uncles retirement party and it was such a huge hit! Friendly and interactive support during the whole event and Great quality prints that guests could take home right away. ALLLLLLL THE OGS WERE SUPER IMPRESSED!! Highly recommend!</p>
                                <h4>Kathy Lee Vang</h4>
                                <h5>Retirement Party</h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-testimonials">
                                <img src="assets/images/testi/t2.jpg" class="img-circle" alt="">
                                <i class="flaticon-quote-left"></i>
                                <p>Thanks MNBooth for capturing amazing photos at our second chance enchanted night prom! Quality of the photos were phenomenal. Meng and MNBooth is so easy to work with. He’s very accommodating and went above and beyond for our event!! Highly recommend using him at your next event. Thanks again!!! ❤️❤️❤️</p>
                                <h4>Paj Nra Flower Lee</h4>
                                <h5>Second Chance Prom</h5>
                            </div>
                        </div>
                    </div>
                    <!-- testimonials active -->
                </div>
                <!-- end row -->
                <div class="mutual-spacer"></div>
                <!-- end mutual spacer -->
            </div>
        </div>

        <!--
        ========================================
        PHOTO TESTIMONIALS AREA END
        ========================================
          -->
