    <!-- 
    ========================================
    PHOTO TESTIMONIALS AREA START
    ========================================
      -->
      <div class="photo-love-testimonials section-pading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center extra">
                            <h2 class="section-heading white-text">TESTIMONIAL</h2>
                        </div>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row">
                    <div class="testimonials-active owl-carousel">
                        <div class="col-md-12">
                            <div class="single-testimonials">
                                <img src="assets/images/testi/t1.jpg" class="img-circle" alt="">
                                <i class="flaticon-quote-left"></i>
                                <p> Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque ullamcorper.</p>
                                <h4>Mahedi Amin</h4>
                                <h5>CEO MT Theme Ltd.</h5>
                            </div>
                        </div>
                        <!-- end single testimonials -->
                        <div class="col-md-12">
                            <div class="single-testimonials">
                                <img src="assets/images/testi/t1.jpg" class="img-circle" alt="">
                                <i class="flaticon-quote-left"></i>
                                <p> Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque ullamcorper.</p>
                                <h4>Mahedi Amin</h4>
                                <h5>CEO MT Theme Ltd.</h5>
                            </div>
                        </div>
                        <!-- end single testimonials -->
                        <div class="col-md-12">
                            <div class="single-testimonials">
                                <img src="assets/images/testi/t1.jpg" class="img-circle" alt="">
                                <i class="flaticon-quote-left"></i>
                                <p> Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque ullamcorper.</p>
                                <h4>Mahedi Amin</h4>
                                <h5>CEO MT Theme Ltd.</h5>
                            </div>
                        </div>
                        <!-- end single testimonials -->
                    </div>
                    <!-- testimonials active -->
                </div>
                <!-- end row -->
                <div class="mutual-spacer"></div>
                <!-- end mutual spacer -->
            </div>
        </div>
    
        <!-- 
        ========================================
        PHOTO TESTIMONIALS AREA END
        ========================================
          -->