---
layout: default
---

<div class="post-wrapper section-pading">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="post-content">
                    <div class="post-thumb mb-2">
                        <img src="{{page.image}}" alt="{{page.title}}">
                    </div>
                    <h4>{{ page.date | date: '%B %d, %Y' }}</h4>
                    <h2>{{page.title}}</h2>
                    <div class="post-text">
                        {{page.content}}
                    </div>
                </div>
<!--                 <div class="disqus-comments mt-5">
                    {% include disqus_comments.html %}
                </div> -->
            </div>
        </div>
    </div>
</div>
